/* Dark Blue: #2E374A, Green: #00D132, Blue: #4E51DF, Red: #E10039 */
.hub-bg-drak-blue{ background-color: #2E374A; color: #fff; }
.hub-bg-green{ background-color: #00D132; color: #fff; }
.hub-bg-blue{ background-color: #4E51DF; color: #fff; }
.hub-bg-red{ background-color: #E10039; color: #fff; }

.hub-drak-blue{ color: #2E374A; }
.hub-green{ color: #00D132; }
.hub-blue{ color: #4E51DF; }
.hub-red{ color: #E10039; }

h1, h2, h3, h4, h5, h6{ font-weight: bolder; }

html, body{
    font-size: 16px;
    height: 100%;
}
body{
    padding-top: 80px;
}
body.dashboard{ background-color: #fff; }

nav.navbar{ background-color: #2E374A; border-radius: 0px; }

nav.navbar .navbar-header .navbar-brand{
    display: flex;
    align-items: center;

    display: -webkit-flex;
    -webkit-align-items: center;
}

nav.navbar .navbar-nav li a{
    color: #fff;
    transition: 0.4s all;
    border-bottom: 2px solid transparent;
    font-weight: 600;
    font-size: 1rem;
}
nav.navbar .navbar-nav li a:hover{
    background-color: transparent;
    color: #00D132;
    border-bottom: 2px solid #00D132;
}
nav.navbar .navbar-nav li a:focus{
    box-shadow: none;
    border-radius: 0px; 
    background-color: transparent;
}

nav.navbar .navbar-toggle{ background-color: rgb(65, 75, 99); }
nav.navbar .navbar-toggle .icon-bar{ background-color: #fff; }

.btn{
    border-radius: 64px;
    text-transform: uppercase;
    font-weight: 600; 
    font-size: 0.9rem;
    padding: 9px 12px; 
}
.btn.btn-xs{
    font-size: 0.6rem;
}
.btn:active,.btn:focus{
    outline: none;
}

.btn.btn-info.btn-outline{
    background-color: transparent;
    box-shadow: 0px 0px 0px 3px #4E51DF inset;
    color: #4E51DF;
    transition: all .4s;
}
.btn.btn-info.btn-outline:hover{
    background-color: #4E51DF;
    color: #fff;
}

.btn-danger{ background-color: #E10039; }
.btn-danger:hover{ background-color: #d10034; }

.container-tiles{
    margin-top: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    -webkit-flex-wrap: wrap;
}


.container-tiles .tile{
    background-color: #2E374A;
    margin: 0 1.33% 1% 0;
    padding: 3% 6%;
    max-width: 32%;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    text-transform: uppercase; 
}
@media (max-device-width: 768px) {
    .container-tiles {
      flex-direction: column;
    }

    .container-tiles .tile{
        max-width: 48%;
    }
}

@media (max-device-width: 480px) {
    .container-tiles {
      flex-direction: column;
    }

    .container-tiles .tile{
        margin: 10px;
        max-width: 100%;
    }
}

.container-tiles:first-child{ margin-left: 0px; }
.container-tiles:last-child{ margin-right: 0px; }

.container-tiles .tile i{ font-size: 4.5rem;}
.container-tiles .tile.hub-green i{ color: #00D132; }
.container-tiles .tile.hub-blue i{ color: #4E51DF; }
.container-tiles .tile.hub-red i{ color: #E10039; }

/* Accounts page */
.account{
    background-color: #fff;
    min-height: calc(100vh - 80px);
    
}

.search-area{ padding: 1.4rem 0px; }

.search-group {
    position: relative;
    margin-bottom: 20px;
}
.search-group input[type="text"], .search-group input[type="search"] {
    border-radius: 0px; 
    font-size: .8rem;
}
.search-group button{
    height: 41px;
}

.search-group::before{
    content: "\e003";
    font-family: 'Glyphicons Halflings';
    position: absolute;
    z-index: 10;
    right: 94px;
    top: 4px;
    font-size: 1.4rem;
    color: #4A59DE;
    transform: scale(-1, 1);
}

.account .table {
    font-size: .8rem;
}

.account .table thead{
    background-color: #F2F6F0;
    color: #797979;
}
.account .table thead tr th, .account .table tbody tr td{
    border-bottom: 1px solid #F2F6F0;
}

.account .table tbody tr td:first-child{
    font-weight: bold;
    
}
.account .table tbody tr td:first-child a{
    color: #6D76E6;
    transition: all 0.4s;
}

.action-menu > a{
    font-size: 1rem;
    padding: 0;
    margin: 0;
    line-height: 0;
    color: #A9A9A9;
    position: relative;
}
.action-menu > a:hover{
    text-decoration: none;
    color: #A9A9A9;
}
.action-menu.open > a{
    text-decoration: none;
    box-shadow: none !important;
}

.action-menu.open .dropdown-menu{
    border-radius: 0px;
    font-size: .9rem; 
    min-width: 100px;
    top:-20px;
    left:-20px;
    transition: all 0.4s;
}
.action-menu.open .dropdown-menu a{
    position: relative;
}

.action-menu > a .badge, .action-menu.open .dropdown-menu a .badge{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    position: absolute;
    right: -.5rem;
    font-size: .7rem;
    background-color: #E10039;
    top: -.4rem;
}
.action-menu.open .dropdown-menu a .badge{
    position: relative;
}

.account-create{
    min-height: 100vh;
    background-color: #fff;
    padding-bottom: 40px;
}

.breadcrumb{
    border-radius: 0px;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0;
}
.breadcrumb .active{
    color: #fff;
}

.form-group label{
    color: #A9A9A9;
    font-family: "Gotham SSm B",Arial,sans-serif;
    font-size: .7rem;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: uppercase;
}
.form-group:focus-within label{
    color: #4E51DF;
}

.form-group .form-control{
    border: none;
    box-shadow: none;
    border-radius: 0px;
    border-bottom: 2px solid #D6D6D6;  
    font-size: .8rem;
    color: #000;
    padding: 4px 0px;
    height: 2rem;
}
.form-group .form-control:focus{
    box-shadow: none !important;
    border-bottom: 2px solid #4E51DF;  
}

#accordion{
    margin-top: 10px; 
}
#accordion .panel{
    box-shadow: none;
}

#accordion .panel .panel-heading, #accordion .panel .panel-body {
    padding: 0;
    border: none; 
}

#accordion .panel .panel-heading .panel-title{
    font-size: 1rem;
}

#accordion .panel .panel-heading .panel-title a{
    text-decoration: none;
    padding-left: 40px;
    position: relative;
    min-height: 36px;
    line-height: 1.5;
    font-weight: normal;
    color: #4A59DE;

    display: flex;
    flex-direction: column;
    justify-content: center;

    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;

    transition: all 0.4s;
}
#accordion .panel .panel-heading .panel-title a small{
    display: block;
    font-size: .7rem;
    color: #000;
    transition: all 0.4s;
}

#accordion .panel .panel-heading .panel-title a[aria-expanded="true"]::before{
    content: "\2212";
    position: absolute;
    font-family: 'Glyphicons Halflings';
    top: 4px;
    left: 6px;
    height: 28px;
    width: 28px;
    text-align: center;
    background-color: #4A59DE;
    color: #fff;
    border-radius: 50%;
    font-size: .9rem;
    display: flex;
    justify-content: center;
    align-items: center;
   }
   #accordion .panel .panel-heading .panel-title a[aria-expanded="false"]::before{
       content: "\002b";
       position: absolute;
       font-family: 'Glyphicons Halflings';
       top: 4px;
       left: 6px;
       height: 28px;
       width: 28px;
       text-align: center;
       background-color: #4A59DE;
       color: #fff;
       border-radius: 50%;
       font-size: .9rem;
       display: flex;
       justify-content: center;
       align-items: center;
      }
   
      #accordion .panel .panel-heading .panel-title a[aria-expanded="false"]{
       background-color: #F2F6F0;
       border-radius: 64px;
       color: #000;
    }
      #accordion .panel .panel-heading .panel-title a[aria-expanded="false"] small{
          display: none;
      }
   
    #accordion .panel .panel-heading .panel-title a[aria-expanded="true"] small{
         display: block;
     }

     .form-action-btns{
         margin-top: 20px; 
     }

/*media queries */

/*Mobile portrait*/
@media (max-width:480px) {
	html, body{
        font-size: 12px;
    }
}

/*Mobile landscape*/
@media (min-width: 481px) and (max-width:599px) {
	html, body{
        font-size: 13px;
    }
}

/*Small tablet portrait*/
@media (min-width: 600px) and (max-width: 767px) {
	html, body{
        font-size: 13px;
    }
}

/*Small tablet landscape*/
@media (min-width: 768px) and (max-width: 979px) {
	html, body{
        font-size: 14px;
    }
}
/*Tablet portrait*/
@media (min-width:801px) and (max-width:1023px) {
	html, body{
        font-size: 15px;
    }
}

/*Tablet landscape (1024x768)*/
@media (min-width: 992px) and (max-width: 1199px){ 
    html, body{
        font-size: 16px;
    }
}

/*Tablet mobile menu view*/
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
